# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
../target
../project/target
./libraries
./modules
./sqldialects.xml
./workspace.xml

/project/target/
/project/target/
/project/target/.sbt-compilation-infos/
/project/target/config-classes/
/project/target/scala-2.12/
/project/target/streams/
/project/target/
/project/project/
target/
*.tmp

